<div class="field" id="clientId-field">
	<div class="heading">
		<label for="clientId">Client ID</label>
	</div>

	<div class="input">
		<input class="text  fullwidth" name="clientId" id="clientId" value="{{ settings.clientId }}">
	</div>
</div>

<div class="field" id="accessToken-field">
	<div class="heading">
		<label for="accessToken">Access Token</label>

		<div class="instructions">See <a href="https://www.instagram.com/developer/authentication/">https://www.instagram.com/developer/authentication/</a> for instructions on how to obtain a valid access token. The required scope for this plugin is "public_content"</div>
	</div>

	<div class="input">
		<input class="text  fullwidth" name="accessToken" id="accessToken" value="{{ settings.accessToken }}">
	</div>
</div>

<div class="field" id="sectionId-field">
	<div class="heading">
		<label for="sectionId">Section ID</label>
	</div>

	<div class="input">
		<input class="text  fullwidth" name="sectionId" id="sectionId" value="{{ settings.sectionId }}">
	</div>
</div>

<div class="field" id="entryTypeId-field">
	<div class="heading">
		<label for="entryTypeId">Entry Type ID</label>
	</div>

	<div class="input">
		<input class="text  fullwidth" name="entryTypeId" id="entryTypeId" value="{{ settings.entryTypeId }}">
	</div>
</div>

<div class="field" id="categoryGroupId-field">
	<div class="heading">
		<label for="categoryGroupId">Category Group Id</label>
	</div>

	<div class="input">
		<input class="text  fullwidth" name="categoryGroupId" id="categoryGroupId" value="{{ settings.categoryGroupId }}">
	</div>
</div>

<div class="field" id="instagramUserIds-field">
	<div class="heading">
		<label for="instagramUserIds">Instagram User IDs</label>

		<div class="instructions">Comma separated list of user ids for all users whose accounts should be synced. Web services for translating a user's handle to id can be found e.g. <a href="http://jelled.com/instagram/lookup-user-id" target="_blank">http://jelled.com/instagram/lookup-user-id</a></div>
	</div>

	<div class="input">
		<input class="text  fullwidth" name="instagramUserIds" id="instagramUserIds" value="{{ settings.instagramUserIds }}">
	</div>
</div>
