<div class="field" id="clientId-field">
	<div class="heading">
		<label for="clientId">Client ID</label>

		<div class="instructions">This is the Client ID of the Client created in <a href="https://www.instagram.com/developer/" target="_blank">instagram.com/developer</a>. If using a Sandbox, the Client must be the owner of that Sandbox.</div>
	</div>

	<div class="input">
		<input class="text  fullwidth" name="clientId" id="clientId" value="{{ settings.clientId }}">
	</div>
</div>

<div class="field" id="clientSecret-field">
	<div class="heading">
		<label for="clientSecret">Client Secret</label>

		<div class="instructions">This is the Client Secret of the Client created in <a href="https://www.instagram.com/developer/" target="_blank">instagram.com/developer</a>. If using a Sandbox, the Client must be the owner of that Sandbox.</div>
	</div>

	<div class="input">
		<input class="text  fullwidth" name="clientSecret" id="clientSecret" value="{{ settings.clientSecret }}">
	</div>
</div>

<div class="field" id="accessToken-field">
	<div class="heading">
		<label for="accessToken">Access Token</label>

		<div class="instructions">Click <a href="{{ siteUrl }}actions/instagramLoader/authentication/authenticate">here</a> to generate a new access token (in the form of a JSON string) to authenticate plugin's calls to Instagram.

		<br>

		Requires a valid Client ID and Client Secret to be set, and for the Redirect URIs in the Instagram Client to include <code>{{ siteUrl }}actions/instagramLoader/authentication/authenticate</code>.

		<br>

		Save any other changes to these settings first before generating a token.</div>
	</div>

	<div class="input">
		<input class="text  fullwidth" name="accessToken" id="accessToken" value="{{ settings.accessToken }}">
	</div>
</div>

<div class="field" id="sectionId-field">
	<div class="heading">
		<label for="sectionId">Section ID</label>

		<div class="instructions">The id of the Section used. Automatically populated on plugin install.</div>
	</div>

	<div class="input">
		<input class="text  fullwidth" name="sectionId" id="sectionId" value="{{ settings.sectionId }}">
	</div>
</div>

<div class="field" id="entryTypeId-field">
	<div class="heading">
		<label for="entryTypeId">Entry Type ID</label>

		<div class="instructions">The id of the Entry Type used. Automatically populated on plugin install.</div>
	</div>

	<div class="input">
		<input class="text  fullwidth" name="entryTypeId" id="entryTypeId" value="{{ settings.entryTypeId }}">
	</div>
</div>

<div class="field" id="categoryGroupId-field">
	<div class="heading">
		<label for="categoryGroupId">Category Group ID</label>

		<div class="instructions">The id of the Category Group used. Automatically populated on plugin install.</div>
	</div>

	<div class="input">
		<input class="text  fullwidth" name="categoryGroupId" id="categoryGroupId" value="{{ settings.categoryGroupId }}">
	</div>
</div>

<div class="field" id="instagramUserIds-field">
	<div class="heading">
		<label for="instagramUserIds">Instagram User IDs</label>

		<div class="instructions">Comma separated list of user ids for all users whose accounts should be synced. Web services for translating a user's handle to id can be found e.g. <a href="https://smashballoon.com/instagram-feed/find-instagram-user-id/" target="_blank">https://smashballoon.com/instagram-feed/find-instagram-user-id/</a></div>
	</div>

	<div class="input">
		<input class="text  fullwidth" name="instagramUserIds" id="instagramUserIds" value="{{ settings.instagramUserIds }}">
	</div>
</div>
